/*

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.blog-info{
    border: 1px solid #000;
    float: left;
    padding: 10px ;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 30px #000;
    border-radius: 10px;

}
 .blog-info .author-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
 }
.blog-1{
   align-items: center;
}
.blog-info img{
    width: 200px;
    height: 150px;
    margin-bottom: 5px;
}

*/







