*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,main,footer{
    margin: 1rem  3rem;
}
.header-title,.dept-title{
    text-align: center;
}
.date{
    text-align: left;
    margin-right: 5rem;
    margin-bottom: .5rem;
}
.clear{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}
input{
    border: none;
    border-bottom: 1px  dotted;
    outline: none;
}
table{
    margin-top: 2rem;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
table tr td{
    padding: 7px;
}
.signature{
    text-align: center;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
div .btn{
    padding: 10px;
    font-size: 20px;
    width: 100px;
    border-radius: 7px;
    border: none;
    border: 1px solid;
    margin-top: 25px;
    background: #e69f99;
    color: rgb(0, 0, 0);
    margin-left: 750px;
    
}
div .btn:hover{
    background: #5fafce;
    color: #000000;
    
}
.btn{
    text-align: center;
}